/* Root elements */
:root {
  --dark-green: #1C6758;
  --light-green: #3D8361;
  --dark-beige: #D6CDA4;
  --light-biege: #EEF2E6;
  --very-light-green: #b9c6ae;
} 

/* Universal Selector */
* {
  box-sizing: border-box;
}

/* Body & Main Element Selectors */
body {
  background-color: var(--light-biege);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 16px;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
}

main {
  display: flex;
  flex-wrap: wrap;
}

/* Heading & Nav Content Selectors */
header {
  padding: 20px;
  text-align: center;
  background: var(--dark-green);
  color: var(--light-biege);
}

header h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

nav {
  display: flex;
  background-color: var(--light-green);
}

nav ul {
  list-style: none;
  display: flex;
}

nav a {
  display: inline-block;
  color: var(--light-biege);
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
  font-size: 1.5rem;;
}

a:hover,
a:focus {
  color: var(--dark-beige);
}

/* Main Content Selector */
#main-content {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
}

/* Aside/Contact Me Content Selector*/
aside {
  background-color: var(--very-light-green);
  padding: 25px;
  flex: 30%;
  text-align: left;
}

aside h2 {
  color: var(--dark-green);
  font-size: 1.5rem;
  padding-bottom: 15px;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: var(--dark-green);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: var(--light-green);
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/* About me Content Selector */
#about-me {
  flex:70%;
  display:flex;
  align-items: flex-start;
  padding: 25px 25px 25px 25px;

}

#about-me img {
  /*max-width: 44%;
  max-height: 100%;*/
  max-width: 420px;
  max-height: 577px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 25px;
}

#about-me h2 {
  font-size: 1.5rem;
  padding-bottom: 15px;
}

#text {
  flex: 1;
  font-size: 1.2vw;
}

/* Work Content Selectors */
#work h2{
  font-size: 1.5rem;
  padding: 25px;
  background-color: var(--dark-green);
  color: var(--light-biege);
  text-align: center;
}

#work img {
  margin: 0 auto;
  padding: 8px 8px 0px 8px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 4px;
}

.col {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.image {
  margin: 8px 0px 8px 0px;

  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.image:hover {
  opacity: 0.3;
}

.image-overlay-container {
  position: relative;
  text-align: center;
  color: var(--light-biege);
}

.image-text {
  position: absolute;
  bottom: 8px;
  left: 16px;
  background-color: var(--dark-green);
  padding: 8px;
  font-size: 1.5rem;
}

/* Footer Content Selectors */
footer {
  padding: 35px;
  background-color: var(--dark-green);
  display: center;
}

/* Responsive Design CSS*/
@media screen and (max-width: 767px) {

  nav {
    justify-content: center;
  }

  nav ul{
    flex-direction: column;
    align-items: center;
  }

  .col {
    flex: 100%;
    max-width: 100%;
  }

  #main-content {
    flex-shrink: 1;
    flex-direction: column;
    flex-flow: column wrap;
  }

  #about-me {
    flex: auto;
    flex-direction: column;
  }

  #about-me img{
    flex: auto;
  }

  #about-me h2 {
    padding-top: 15px;
    text-align: center;
  }

  #text {
    flex:auto;
    font-size: 3vw;
  }

}


@media (min-width: 768px) and (max-width: 1024px){

  nav {
    justify-content: center;
  }

  nav ul{
    flex-direction: column;
    align-items: center;
  }

  .col {
    flex: 50%;
    max-width: 50%;
  }

  #about-me {
    flex: auto;
  }

  #text {
    font-size: 1.7vw;
  }
  
}


@media (min-width: 1025px) and (max-width: 1280px){

  #about-me img {
      max-width: 420px;
      max-height: 577px;
  }

  #text {
    font-size: 1.15vw;
  }

}
